<a href="https://colab.research.google.com/github/MyrewinGrepo/58013-Linear-Algebra/blob/main/Review_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Indentation

In [3]:
if 5.2:
  print("five is greater than two!")

five is greater than two!

#Python Comments

In [5]:
#This-is-a-comment
print("Hello, world")

Hello, world

#Python Variable

In [9]:
x=1
a, b=0,1
a, b, c=0,1,2
b="Sally"#This-is-a-type-of-string

#Casting

In [12]:
b="Sally" #This-is-a-type-of-string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

#Type() function

In [13]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#"Double" quotes or 'SIngle' qoute

In [15]:
y="John"
y='John'

#Case sensitive

In [ ]:
a=4
A="Sally"
#This-is-not-overwrite

#Mutiple Variables

In [16]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

#One value to Mutiple variables

In [17]:
x=y=z="Four"
print(x)
print(y)
print(z)

Four
Four
Four

@Output Variables

In [20]:
x="enjoying"
print("Python programming is "+x)

Python programming is enjoying

In [24]:
x="Python is "
y="enjoying"
z=x+y
print(z)

Python is enjoying

In [30]:
x=5
y=3
print(x+y)
sum=x+y
sum

8

8

In [32]:
a,b,c=0,-1,6
c%=3
c

0

#comparison

In [35]:
a,b,c=0,-1,6
a>b and c>b

True

#Identity

In [39]:
a,b,c=0,-1,5
a is c

False

#Bitwise

In [49]:
a,b,c=0,-1,5
print(c>>1)
print(c<<1)

2
10